* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #A079D4; */
  background-image: linear-gradient(130deg, #004986, #A079D4, #FAE053, #F1A7DC);
  font-family: 'Nunito', sans-serif;
}

/* == NAV BAR == */

.floating-menu {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 30px 0 0 30px;
  width: 50px;
  z-index: 100;
  position: fixed;
}


.floating-menu a:link {
  padding: 0 5px;
  /* color: #164B9B; */
  color: #F6C346;
  text-decoration: none;
}

.floating-menu a:visited {
  /* color: #164B9B; */
  color: #F6C346;
  font-style: italic;
  text-decoration: none;
}

.floating-menu a:hover {
  color: #505FB2;
  font-style: italic;
  text-decoration: none;
}

/* === INTRO SECTION === */

.intro img {
  width: 65%;
  margin-left: 520%;
  margin-top: 50%;
}

.getintouch {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.intro {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 2.6fr 1fr;
  grid-template-rows: 0.3fr;
 }

 .a1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 70px;
  color: #eee;
  margin-top: 170px;
  margin-left: 80px;
 }

 .a2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 20px;
  color: #eee;
  margin-top: 250px;
  margin-left: 80px;
 }

.a3 {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 font-size: 22px;
 font-weight: bold;
 color: #eee;
 margin-top: 320px;
 margin-left: 80px;
}

.a4 {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 345px;
 margin-left: 80px;
}

.a5 {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 370px;
 margin-left: 80px;
 margin-right: 140px;
}

.a6 {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 395px;
 margin-left: 80px;
}

.a7 {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 420px;
 margin-left: 80px;
}

.a8 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 18px;
  color: #eee;
  margin-top: 500px;
  margin-left: 80px;
  margin-right: 140px;
}

.a9 {
 grid-column: 3 / 4;
 grid-row: 1 / 2;
 font-size: 22px;
 font-weight: bold;
 color: #eee;
 margin-top: 320px;
}

.a10 {
 grid-column: 3 / 4;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 345px;
}

.a11 {
 grid-column: 3 / 4;
 grid-row: 1 / 2;
 font-size: 22px;
 font-weight: bold;
 color: #eee;
 margin-top: 370px;
}

.a12 {
 grid-column: 3 / 4;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 395px;
}

.a13 {
 grid-column: 3 / 4;
 grid-row: 1 / 2;
 font-size: 18px;
 color: #eee;
 margin-top: 420px;
}

/* === PHOTO GALLERY === */

/* .gallery {
  height: 160vh;
  width: 90%;
  grid-template-rows: 0.7fr 0.9fr 0.9fr 1fr 1.1fr;
  display: grid;
  padding: 30px;
} */

.gallery {
  height: 190vh;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr;
}

img {
  width: 80%;
}

.g1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 80px;
  margin-left: 280px;
}

.g2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 280px;
  margin-top: 730px;
}



/* === NEXT/PREVIOUS PROJECTS === */

.next div {
  font-size: 20px;
  width: 94%;
  min-height: 25vh;
  height: auto;
  color: #eee;
  padding: 5% 0 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.next div h1 {
  margin-top: 55px;
  margin-right: 60%;
}

.next div h2 {
  margin-top: 55px;
}

.next a:link {
  padding: 0 5px;
  color: #164B9B;
  text-decoration: none;
}

.next a:visited {
  color: #164B9B;
  font-style: italic;
  text-decoration: none;
}

.next a:hover {
  /* color: #505FB2; */
  color: #eee;
  font-style: bold;
  text-decoration: none;
}
